<h1>Player Details</h1>
<h2><%= @player.name() %></h2>
<table>
  <% for hero in @favourite_heroes %>
    <tr>
      <td><%= hero.name() %></td>
      <td><%="<a href='/heroes/#{hero.id()}'>See Hero</a> "%></td>
    </tr>
  <% end %>
</table>
