<h2>Players</h2>
<table>
  <% for player in @players %>
    <tr>
      <td><%= player.name() %></td>
      <td><a href='/players/<%= player.id() %>'>See player</a></td>
    </tr>
  <% end %>
</table>
<a href='/players/new'>New player</a>
