<div id='new-player-form' class='new-form'>
  <h2>New player</h2>

  <form action='/players' method='POST'>
    <label class='new-form-input-label'>
      Player name:
      <input type='text' name='name' class='new-form-input'/>
    </label>

    <label class='new-form-input-label'>
      Player team:
      <input type='text' name='team' class='new-form-input'/>
    </label>

    <input type='submit' value='Create player' class='new-form-submit-input'/>
  </form>

</div>
