<!DOCTYPE html>
<html>
  <head>
    <title>Dota 2 Players and Heroes</title>
  </head>
  <body>
    <img id='top-logo' src='http://vignette3.wikia.nocookie.net/defenseoftheancients/images/6/64/Dota_2_Logo_only.png/revision/latest?cb=20110914005751'/>
    <h1 id='top-title'>Dota 2 Heroes and Players</h1>
    
    <div id="nav-box">
      <a href='/'>Home</a>
      <a href='/players'>Players</a>
      <a href='/heroes'>Heroes</a>
    </div>

    <%= yield %>
  </body>
</html>
