html, body {
  text-align: center;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

main {
  width: 50%;
  height: 800px;
  margin: 0 auto;
  background-color: rgba(150, 150, 150, 0.3)
}

@font-face {
  font-family: 'Trajan Bold';
  src: url('fonts/TrajanBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/TrajanBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TrajanBold.ttf')  format('truetype') /* Safari, Android, iOS */
}

body {
  background-image: url('http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/570/0ff7a6cf3e3978e9c63a596115b7f7b1b5c05a9b.png');
  /*background-image: url('http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/570/51c2cf9ddfe8a170b458fc37ff55b083f6a5ec6c.jpg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #CBCBCB;
  font-family: "Trajan Bold", serif;
  font-weight: 100;
}

img {
  width: 20%;
  margin-top: 15px;
}

h1, h2 {
  font-weight: 100;
  letter-spacing: 3px;
}

h2,h3,h4,h5,h6 {
  margin-bottom: 5px
}

h3,h4,h5,h6 {
  margin-top: 5px;
}

a, input[type='submit'] {
  text-decoration: none;
  color: #5B5B5B;
  background-color: #CBCBCB;
  padding: 1px;
  margin-top: 10px;
  font-family: "Trajan Bold", serif;
  font-weight: 100;
  transition-duration: 0.2s;
}

input[type='submit'] {
  height: 100%;
  padding: 0px;
  margin-top: 0;
  border: none;
}

a:hover, input[type='submit']:hover, .favourite-delete-form:hover {
  color: #CBCBCB;
  background-color: #5B5B5B;
  cursor: pointer;
}

.favourite-delete-form {
  height: 22px;
  /*padding-top: 3px; */
  padding-bottom: 1px;
  background-color: #CBCBCB;
  transition-duration: 0.2s;
}

.favourite-delete-form input {
  font-size: 1em;
  width: 100%;
}

a:visited {
  text-decoration: none;
}

.table-wrapper {
  background-color: rgba(10, 10, 10, 0.3);
  height: 200px;
  width: 70%;
  margin: 0 auto;
  overflow-x: scroll;
}

table {
  margin: 0 auto;
  text-align: center;
  /*height: 250px;*/
  max-height: 200px;
  width: 100%;
  /*background-color: rgba(10, 10, 10, 0.3);*/
}

tr, td {
  height: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#roshan-img {
  width: 65%;
}
